/KSPThreadingSystem/bin/Debug/*
/KSPThreadingSystem/bin/Release/*
/KSPThreadingSystem/obj/Debug/*
/KSPThreadingSystem/obj/Release/*

/KSPTSDemo/bin/Debug/*
/KSPTSDemo/bin/Release/*
/KSPTSDemo/obj/Debug/*
/KSPTSDemo/obj/Release/*

*.dll